@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
}

/* Default (Light Mode) */
:root {
  --base-color: #e7e9eb;         /* Light grayish background (less strain on eyes) */
  --base-variant: #FFFFFF;       /* Pure white secondary background */
  --text-color: #0A0F1E;         /* Darker text for better readability */
  --secondary-text: #374151;     /* Slightly darker dim text */
  --primary-color: #1E3A8A;      /* Deep blue primary */
  --accent-color: #007AFF;       /* Brighter actionable elements */
  --highlight-green: #2E8B57;    /* Stronger green (success) */
  --highlight-orange: #D35400;   /* More vibrant orange */
  --highlight-red: #C0392B;      /* Deep red for errors */
}

/* Dark Mode */
.darkmode {
  --base-color: #1e1f1e;         /* Dark background */
  --base-variant: #2f313b;       /* Secondary dark background */
  --text-color: #ffffff;         /* Light text */
  --secondary-text: #a4a5b8;     /* Secondary text */
  --primary-color: #3A435D;      /* Main accent */
  --accent-color: #3fac39;       /* Actionable elements */
  --highlight-green: #4cb946;    /* Success */
  --highlight-orange: #db9257;   /* Warning */
  --highlight-red: #db9257;      /* Error */
}


@layer utilities {
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.6s step-end infinite;
  }
  
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}